In [3]:
# SQLiteのRDBを読み込み、dfに代入
#必要なライブラリのインポート
import pandas as pd
import sqlite3
# 作成済のdatabaseに接続する。
conn = sqlite3.connect('suumo.db')

# databaseをクエリで実行した結果を読み込み、dfに代入。
query = "SELECT * FROM suumo_clean"
df = pd.read_sql(query, conn)
df.head()

,name,address,age/year,structure,floor/F,rent/yen,admin/yen,deposit/yen,gratuity/yen,madori,menseki/m2,access1_line,access1_station,access1_walk/min,access2_line,access2_station,access2_walk/min,access3_line,access3_station,access3_walk/min
0,メゾンクレール,東京都北区田端３,38,7F,5,125000,0,125000,125000,2DK,45.50,ＪＲ山手線,駒込駅,8,ＪＲ京浜東北線,田端駅,12,東京メトロ千代田線,西日暮里駅,16
1,ＪＲ山手線 鶯谷駅 10階建 築3年,東京都荒川区東日暮里４,3,10F,3,190000,10000,190000,190000,2LDK,50.08,ＪＲ山手線,鶯谷駅,6,ＪＲ京浜東北線,日暮里駅,11,ＪＲ山手線,上野駅,22
2,イルメーゼ,東京都北区田端４,35,5F,3,120000,5000,120000,120000,2DK,42.44,ＪＲ山手線,田端駅,8,ＪＲ山手線,西日暮里駅,19,ＪＲ山手線,駒込駅,8
3,田端３丁目戸建,東京都北区田端３,43,2F,-,200000,0,200000,0,3DK,53.21,ＪＲ山手線,田端駅,10,東京メトロ千代田線,西日暮里駅,13,東京メトロ南北線,駒込駅,12
4,ＪＲ山手線 田端駅 3階建 築33年,東京都北区田端５,33,3F,2,132000,3000,132000,0,3SDK,58.94,ＪＲ山手線,田端駅,8,ＪＲ山手線,駒込駅,11,ＪＲ山手線,西日暮里駅,16

In [9]:
df['madori'].unique()

array(['2DK', '2LDK', '3DK', '3SDK', '2K', '3K', '3LDK', '4K', '4LDK',
       '2SLDK', '3SLDK', '4SK', '3SK', '2SDK', '2SK', '4SLDK'],
      dtype=object)

In [20]:
df['rent/yen'].max()

250000

In [14]:
df.dtypes

name                 object
address              object
age/year              int64
structure            object
floor/F              object
rent/yen              int64
admin/yen             int64
deposit/yen           int64
gratuity/yen          int64
madori               object
menseki/m2          float64
access1_line         object
access1_station      object
access1_walk/min     object
access2_line         object
access2_station      object
access2_walk/min     object
access3_line         object
access3_station      object
access3_walk/min     object
dtype: object

In [15]:
df['age/year'].max()

77

In [18]:
df['menseki/m2'].max()

140.34

In [19]:
df['access1_walk/min'] = pd.to_numeric(df['access1_walk/min'], errors='coerce').fillna(10).astype(int)
df['access1_walk/min'].max()

24